<nav class="nav-main nav-main--home">

    <figure class="site-logo">
        <a href="{{ site:url }}"><img src="{{ config:app:url }}/assets/ainos-logo.jpg"/></a>
    </figure>

    <ul class="site-menu" role="navigation">
        {{ nav:main_menu }}
        <li>
            <a href="{{ url }}" {{ if is_current || is_parent }} class="current"{{ /if }}>{{ title }}</a>
            {{ if children }}
                <ul class="sub-menu">
                    {{ *recursive children* }}
                </ul>
            {{ /if }}
        </li>
        {{ /nav:main_menu }}
    </ul>
</nav>

<main class="home-main">
    {{ livewire:search template='livewire.livesearch' index='hymns' }}
</main>
