:root {
    --text-color:   rgba(0,0,0,0.9);
    --link-color:   black;
    --hover-color:  rgba(0,0,0,.6);
}

//@import 'partials/reset';
@import 'partials/normalize';

body {
    font-family: 'Sofia Sans', sans-serif;
    min-height:     100svh;
    color:          var(--text-color);
    font-size: 1.4rem;
}

@import 'partials/nav';
@import 'partials/home';
@import 'partials/hymn';
@import 'partials/search';
