.search-main {
    display: grid;
    place-items: center;
}

.search-container {
    position: relative;
    min-width: 30vw;
    input[type="search"] {
        width: 100%;
        text-align: center;
        padding: .4rem 1rem;
        font-size: 1.2rem;
        border-radius: 2rem;
    }

    .livesearch-results {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        max-height: 80vh;
        max-height: 80svh;
        overflow-y: auto;

        > li:first-child {
            border-top: 1px solid black;
        }

        > li {
            padding: 0 1.5rem;
            a {
                display: block;
                padding: 1rem;
                border: 1px solid black;
                border-top: 0;
                background: white;
                box-shadow: 0 5px 20px white;
            }
        }
    }
}

.page-home {
    .livesearch-results {
        max-height: 50vh;
        max-height: 50svh;
        overflow: scroll;
        padding-bottom: 2rem;
    }
}

@media (max-width: 650px) {
    .page-home {
        .search-container {
            min-width: 65vw;
        }
        .livesearch-results {
            max-height: 75vh;
            max-height: 75svh;
        }
    }
}
